<!-- views/argument.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= data.topic %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1><%= data.topic %></h1>
  <% data.arguments.forEach(function(argument) { %>
    <div class="argument">
      <h2>Argument: <%= argument.claim %></h2>
      <ul>
        <% argument.facts.forEach(function(fact) { %>
          <li><%= fact %></li>
        <% }); %>
      </ul>
      <% if (argument.counterarguments) { %>
        <div class="counterarguments">
          <h3>Counterarguments:</h3>
          <% argument.counterarguments.forEach(function(counter) { %>
            <div class="counterargument">
              <h4><%= counter.claim %></h4>
              <ul>
                <% counter.facts.forEach(function(fact) { %>
                  <li><%= fact %></li>
                <% }); %>
              </ul>
            </div>
          <% }); %>
        </div>
      <% } %>
    </div>
  <% }); %>
</body>
</html>

